<div class="container" [class.dark]="darkMode()">
  <h1 class="titulo">{{ title() }}</h1>

  <div class="grid">
    <div class="card perfil">
      <h2>👤 Datos</h2>
      <img src="foto.png" class="img">
      <div class="info-personal">
        <p><strong>Nombre:</strong> Carolina Ortiz</p>
        <p><strong>Carrera:</strong> Analítica de Sistemas</p>
        <p><strong>Semestre actual:</strong> III Semestre</p>
        <p><strong>Edad:</strong> 18 años</p>
        <p><strong>Correo Electrónico:</strong> carolina.ortiz@vallegrande.edu.pe</p>
        <p><strong>Ciudad, Paìs:</strong> Lima, Perú</p>
        <p><strong>Carrera:</strong> Analítica de Sistemas</p>
        <div class="social-container">
          <a href="https://github.com/CarolinaDariaOrtizCastillo" target="_blank" class="btn-social github">
            <span>🐙 GitHub</span>
          </a>

          <a href="https://www.linkedin.com/in/carolina-daria-ortiz-castillo-569691360/" target="_blank"
            class="btn-social linkedin">
            <span>🔗 LinkedIn</span>
          </a>
        </div>
      </div>
    </div>

    <div class="card sobre">
      <h2>🙋‍♀️ Sobre mí</h2>
      <p>"Apasionada por la tecnología y estudiante de A.S.E. en Valle Grande. Tras cursar con éxito dos semestres, he
        pasado de la teoría a la práctica desarrollando diversos proyectos de software que reflejan mi dominio técnico y
        creatividad. Mi lenguaje de cabecera es Python, herramienta con la que busco optimizar procesos empresariales.
        Creo firmemente que los mejores sistemas se construyen con buen código, un equipo sólido y suficiente café.
        Estoy lista para seguir transformando datos en soluciones reales."</p>

      <h2>⚡ Skills</h2>
      <ul class="skills-list">
        <li *ngFor="let skill of skills()">
          <span class="bullet">➤</span> {{ skill }}
        </li>
      </ul>
    </div>

    <div class="card proyectos">
      <h2>💼 Proyectos</h2>
      <div class="mini-grid">
        <div class="mini-card" *ngFor="let proyecto of proyectos(); let i = index">
          <h3>{{ proyecto.nombre }}</h3>
          <button (click)="toggleProyecto(i)">Ver más</button>
          <p *ngIf="proyecto.mostrar" style="margin-top: 10px;">
            {{ proyecto.descripcion }}
          </p>
        </div>
      </div>
    </div>

    <div class="card certificados">
      <h2>📜 Certificados</h2>
      <div class="mini-grid">
        <div class="mini-card" *ngFor="let cert of certificados(); let i = index">
          <h3>{{ cert.nombre }}</h3>
          <button (click)="toggleCert(i)">Ver más</button>
          <p *ngIf="cert.mostrar" style="margin-top: 10px;">{{ cert.descripcion }}</p>
        </div>
      </div>
    </div>
  </div>

  <button class="modo" (click)="toggleDarkMode()">
    {{ darkMode() ? '☀️ Modo Claro' : '🌙 Modo Oscuro' }}
  </button>
</div>